/**
* Lightbox
*/
#lightbox {
  display: none;
  z-index: 1;
  width: 75%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 10rem;
  left: 30px;
  text-align: center;
  overflow: auto;
  border: blue;
}

#lightbox img {
  margin-top: 10%;
  max-width: 80%;
  max-height: 80%;
}

#lightbox::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

#lightbox .open {
  display: block;
}

#lightbox .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

